# ============================================================
# INTERVIEWAI ENVIRONMENT CONFIGURATION
# ============================================================


# ------------------------------------------------------------
# DATABASE
# ------------------------------------------------------------

DB_HOST=localhost
DB_PORT=3306
DB_USER=your_database_user
DB_PASSWORD=your_database_password
DB_NAME=your_database_name


# ------------------------------------------------------------
# JUDGE0
# ------------------------------------------------------------

JUDGE0_URL=http://localhost:2358


# ------------------------------------------------------------
# HUGGING FACE
# ------------------------------------------------------------

HF_TOKEN=your_huggingface_token


# ------------------------------------------------------------
# FRONTEND
# ------------------------------------------------------------

FRONTEND_URL=http://localhost:3000


# ------------------------------------------------------------
# BACKEND
# ------------------------------------------------------------

BACKEND_HOST=127.0.0.1
BACKEND_PORT=8000